.app-card {
  border: 1px solid #ebebeb;
  .card-title {
    font-size: 18px !important;
    font-weight: 700;
    line-height: 22px;
    color: var(--text-color);
  }
  p {
    color: var(--text-color);
    font-weight: 300;
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 0;
  }
}

.app-card:hover {
  .btn {
    transform: translateY(-10px);
    transition: all 0.5s;
  }
}
