.app-case-studies {
  padding: 60px 0;
  p {
    margin-bottom: 1rem;
    color: var(--text-color) !important;
  }
  h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    color: var(--text-color) !important;
  }
}
